html {
	font-family: "Verdana";
}

body {
	margin: 0;
}

#background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #202020;
	background: -webkit-radial-gradient(#202020, #101010);
	background: radial-gradient(#202020, #101010);
}

#header, #content, #footer {
	margin: 1em auto;
	padding: 2em;
	overflow: hidden;
	width: 936px;
	border-radius: 1em;
	background-color: #eee;
	background: -webkit-linear-gradient(#eee, #ccc);
	background: linear-gradient(#eee, #ccc);
}

#header, #footer {
	text-align: center;
	padding: 0;
}