html {
	font-family: "Verdana";
}

body {
	margin: 0;
}

.wrapper {
	padding: 1em;
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 0.5em 0.75em;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	background-color: #eee;
	background: -webkit-linear-gradient(#fff, #ddd);
	background: linear-gradient(#fff, #ddd);
	border: 0.0625em outset #eee;
	border-radius: 0.25em;
}

.button:hover {
	background-color: #ddd;
	background: -webkit-linear-gradient(#ccc, #eee);
	background: linear-gradient(#ccc, #eee);
	border-style: inset;
	border-color: #ddd;
}

.button.primary {
	color: #fff;
	text-shadow: 0 -1px 0 #aaa;
	background-color: #0c0;
	background: -webkit-linear-gradient(#0d0, #0b0);
	background: linear-gradient(#0d0, #0b0);
	border-color: #0c0;
}

.button.primary:hover {
	background-color: #0c0;
	background: -webkit-linear-gradient(#0b0, #0d0);
	background: linear-gradient(#0b0, #0d0);
	border-style: inset;
	border-color: #0c0;
}

.img {
	background-image: url("/images/missing.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bgaut {
	background-size: auto;
}

.bgcon {
	background-size: contain;
}

.bgcov {
	background-size: cover;
}

.bgrep {
	background-repeat: repeat;
	background-size: auto;
}

.faw {
	font-family: "Audiowide";
}

.fvd {
	font-family: "Verdana";
}

icon {
	display: inline-block;
	width: 1em;
	vertical-align: middle;
}

icon.fuck-cubik16:before {
	content: url("/images/logo16.png");
}

icon.fuck-cubik32:before {
	content: url("/images/logo32.png");
}

icon.fuck-cubik64:before {
	content: url("/images/logo64.png");
}

icon.fuck-cubik96:before {
	content: url("/images/logo96.png");
}

icon.fuck-cubik128:before {
	content: url("/images/logo128.png");
}

icon.fuck-cubik256:before {
	content: url("/images/logo256.png");
}

icon.arrow-down-white:before {
	content: url("/icons/arrow_down_white.svg");
}

icon.ballot-box-e:before {
	content: url("/icons/ballot_box_empty.svg");
}

icon.ballot-box-c:before {
	content: url("/icons/ballot_box_check_green.svg");
}

icon.ballot-box-x:before {
	content: url("/icons/ballot_box_x_red.svg");
}

ul.nl , ol.nl{
	list-style-type: none;
}

ul.bbc16 li:before {
	content: url("/icons/ballot_box_check_green16.svg") " ";
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.dt {
	display: table;
}

.dtc {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.hal {
	text-align: left;
}

.hac {
	text-align: center;
}

.har {
	text-align: right;
}

.vat {
	vertical-align: top;
}

.vam {
	vertical-align: middle;
}

.vab {
	vertical-align: bottom;
}

.b0 {
	border-width: 0;
}

.b1 {
	border-width: 1em;
}

.b2 {
	border-width: 2em;
}

.m0 {
	margin: 0;
}

.m1 {
	margin: 1em;
}

.m2 {
	margin: 2em;
}

.p0 {
	padding: 0;
}

.p1 {
	padding: 1em;
}

.p2 {
	padding: 2em;
}

.wa {
	width: auto;
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w33 {
	width: 33%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w67 {
	width: 67%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w100 {
	width: 100%;
}

.ha {
	height: auto;
}

.h20 {
	height: 20%;
}

.h25 {
	height: 25%;
}

.h33 {
	height: 33%;
}

.h40 {
	height: 40%;
}

.h50 {
	height: 50%;
}

.h60 {
	height: 60%;
}

.h67 {
	height: 67%;
}

.h75 {
	height: 75%;
}

.h80 {
	height: 80%;
}

.h100 {
	height: 100%;
}