ul.bb {
	list-style-type: none;
}

ul.e li:before {
	content: "&#9744;";
}

ul.c li:before {
	content: "&#9745;";
}

ul.x li:before {
	content: "&#9746;";
}

.wrapper {
	width: 100%;
	overflow: hidden;
	border-width: 1em;
}

.wrapper:nth-child(odd) {
	width: 100%;
	overflow: hidden;
	background-color: #eee;
}

.wrapper:nth-child(even) {
	width: 100%;
	overflow: hidden;
	background-color: #ddd;
}

.dib {
	display: inline-block;
	float: left;
}

.dt {
	display: table;
	float: left;
}

.dtc {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hal {
	text-align: left;
}

.hac {
	text-align: center;
}

.har {
	text-align: right;
}

.vat {
	vertical-align: top;
}

.vam {
	vertical-align: middle;
}

.vab {
	vertical-align: bottom;
}

.b0 {
	border-width: 0;
}

.b1 {
	border-width: 1em;
}

.b2 {
	border-width: 2em;
}

.m0 {
	margin: 0;
}

.m1 {
	margin: 1em;
}

.m2 {
	margin: 2em;
}

.p0 {
	padding: 0;
}

.p1 {
	padding: 1em;
}

.p2 {
	padding: 2em;
}

.img {
	background-image: url("/images/missing.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bga {
	background-size: auto;
}

.bgc {
	background-size: cover;
}

.bgr {
	background-repeat: repeat;
	background-size: auto;
}

.fa {
	font-family: "Audiowide";
}

.fv {
	font-family: "Verdana";
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w33 {
	width: 33%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w67 {
	width: 67%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w100 {
	width: 100%;
}

.h20 {
	height: 20%;
}

.h25 {
	height: 25%;
}

.h33 {
	height: 33%;
}

.h40 {
	height: 40%;
}

.h50 {
	height: 50%;
}

.h60 {
	height: 60%;
}

.h67 {
	height: 67%;
}

.h75 {
	height: 75%;
}

.h80 {
	height: 80%;
}

.h100 {
	height: 100%;
}