<div id="footer" class="section">
	<div class="section-body">
		<div class="section-content">
			<p>Copyright &#169; <span class="year"></span>| Alexander01998 | All rights reserved.</p>
			<div class="dib fr">
				<a href="http//www.wurst-client.tk">
					<div class="img" style="background-image: url('/images/Wurst_logo.png')">Powered by</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script>
	document.getElementById("footer").getElementsByClassName("year")[0].innerHTML = "2014 - " + new Date().getFullYear() + " ";
</script>
