<div id="footer" class="section">
	<div class="section-body">
		<div class="section-content">
			<p>Copyright &#169; <span class="year"></span>| Alexander01998 | All rights reserved.</p>
			<div class="dib fr p1">
				<a href="http://www.wurst-client.tk" style="text-decoration: none;color: inherit;">
					<div class="img" style="background-image: url('/images/Wurst_logo.png');background-position: center bottom;">
						<p style="margin: 0 1em;font-size: 16px;line-height: 1.75em;">Powered by<br><br></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script>
	document.getElementById("footer").getElementsByClassName("year")[0].innerHTML = "2014 - " + new Date().getFullYear() + " ";
</script>
