<div id="header">
	<div id="nav">
		<div id="nav-left">
			<a href="/"><h1><icon class="fuck-cubik64 wa h100"></icon> </h1></a>
		</div>
		<div id="nav-right">
			<a href="https://github.com/Fuck-Cubik/Fuck-Cubik/wiki">Wiki</a>
			<a href="/#download">Download</a>
			<div class="menu">
				<a>More...</a>
				<div class="menu-items">
					<a href="https://github.com/Fuck-Cubik/Fuck-Cubik/labels/enhancement">Suggestions</a>
					<a href="https://github.com/Fuck-Cubik/Fuck-Cubik/issues?q=label%3Aquestion">Questions / FAQ</a>
					<a href="https://github.com/Fuck-Cubik/Fuck-Cubik/labels/bug">Bug reports</a>
					<a href="/error-reports/">Error reports</a>
					<a href="//github.com/Fuck-Cubik/Fuck-Cubik/fork">Fork me on GitHub!</a>
				</div>
			</div>
		</div>
	</div>
</div>