<div id="header">
	<div id="nav">
		<div id="nav-left">
			<a href="/"><h1><icon class="fuck-cubik64 wa h100"></icon> </h1></a>
		</div>
		<div id="nav-right">
			<a href="/news/">News</a>
			<a href="/wiki/">Wiki</a>
			<a href="/#download">Download</a>
			<div class="menu">
				<a>More...</a>
				<div class="menu-items">
					<a href="/test/">Test page</a>
					<a href="/error-reports/">Reported errors</a>
					<a href="//github.com/Fuck-Cubik/Fuck-Cubik/fork">Fork me on GitHub!</a>
				</div>
			</div>
		</div>
	</div>
</div>